In [1]:
%load_ext sql

In [2]:
%sql sqlite:///chinook.db

'Connected: @chinook.db'

In [3]:
%%sql

SELECT customers.FirstName, customers.LastName, employees.FirstName, employees.LastName
FROM customers, employees
WHERE customers.Country = "Canada"
AND customers.SupportRepId = employees.EmployeeId;

 * sqlite:///chinook.db
Done.

[('François', 'Tremblay', 'Jane', 'Peacock'),
 ('Mark', 'Philips', 'Steve', 'Johnson'),
 ('Jennifer', 'Peterson', 'Jane', 'Peacock'),
 ('Robert', 'Brown', 'Jane', 'Peacock'),
 ('Edward', 'Francis', 'Jane', 'Peacock'),
 ('Martha', 'Silk', 'Steve', 'Johnson'),
 ('Aaron', 'Mitchell', 'Margaret', 'Park'),
 ('Ellie', 'Sullivan', 'Jane', 'Peacock')]

In [5]:
%%sql

SELECT c.FirstName AS "customer_name", c.LastName AS "customer_surname", e.FirstName AS "agent_name", e.LastName AS "agent_surname"
FROM customers c, employees e
WHERE c.Country = "Canada"
    AND c.SupportRepId = e.EmployeeId;

 * sqlite:///chinook.db
Done.

[('François', 'Tremblay', 'Jane', 'Peacock'),
 ('Mark', 'Philips', 'Steve', 'Johnson'),
 ('Jennifer', 'Peterson', 'Jane', 'Peacock'),
 ('Robert', 'Brown', 'Jane', 'Peacock'),
 ('Edward', 'Francis', 'Jane', 'Peacock'),
 ('Martha', 'Silk', 'Steve', 'Johnson'),
 ('Aaron', 'Mitchell', 'Margaret', 'Park'),
 ('Ellie', 'Sullivan', 'Jane', 'Peacock')]

In [6]:
%%sql

-- This is a single-line comment (SQL will not execute lines that begin with '--')

/*
This is a block
comment which will comment
multiple lines
*/

 * sqlite:///chinook.db
Done.

[]

In [7]:
%%sql

--This query shows which customers and Sales Support Agents live in Canada.

SELECT
    c.FirstName AS "customer name",
    c.LastName AS "customer surname",
    e.FirstName AS "agent_name",
    e.LastName AS "agent_surname"
FROM
    customers c,
    employees e
WHERE c.Country = "Canada"
    AND c.SupportRepId = e.EmployeeId;

 * sqlite:///chinook.db
Done.

[('François', 'Tremblay', 'Jane', 'Peacock'),
 ('Mark', 'Philips', 'Steve', 'Johnson'),
 ('Jennifer', 'Peterson', 'Jane', 'Peacock'),
 ('Robert', 'Brown', 'Jane', 'Peacock'),
 ('Edward', 'Francis', 'Jane', 'Peacock'),
 ('Martha', 'Silk', 'Steve', 'Johnson'),
 ('Aaron', 'Mitchell', 'Margaret', 'Park'),
 ('Ellie', 'Sullivan', 'Jane', 'Peacock')]

In [8]:
%%sql


SELECT
    c.FirstName AS "customer name",
    c.LastName AS "customer surname",
    e.FirstName AS "agent_name",
    e.LastName AS "agent_surname"
FROM
    customers c,
    employees e
/*
    WHERE c.Country = "Canada"
    AND c.SupportRepId = e.EmployeeId;
*/

 * sqlite:///chinook.db
Done.

[('Luís', 'Gonçalves', 'Andrew', 'Adams'),
 ('Leonie', 'Köhler', 'Andrew', 'Adams'),
 ('François', 'Tremblay', 'Andrew', 'Adams'),
 ('Bjørn', 'Hansen', 'Andrew', 'Adams'),
 ('František', 'Wichterlová', 'Andrew', 'Adams'),
 ('Helena', 'Holý', 'Andrew', 'Adams'),
 ('Astrid', 'Gruber', 'Andrew', 'Adams'),
 ('Daan', 'Peeters', 'Andrew', 'Adams'),
 ('Kara', 'Nielsen', 'Andrew', 'Adams'),
 ('Eduardo', 'Martins', 'Andrew', 'Adams'),
 ('Alexandre', 'Rocha', 'Andrew', 'Adams'),
 ('Roberto', 'Almeida', 'Andrew', 'Adams'),
 ('Fernanda', 'Ramos', 'Andrew', 'Adams'),
 ('Mark', 'Philips', 'Andrew', 'Adams'),
 ('Jennifer', 'Peterson', 'Andrew', 'Adams'),
 ('Frank', 'Harris', 'Andrew', 'Adams'),
 ('Jack', 'Smith', 'Andrew', 'Adams'),
 ('Michelle', 'Brooks', 'Andrew', 'Adams'),
 ('Tim', 'Goyer', 'Andrew', 'Adams'),
 ('Dan', 'Miller', 'Andrew', 'Adams'),
 ('Kathy', 'Chase', 'Andrew', 'Adams'),
 ('Heather', 'Leacock', 'Andrew', 'Adams'),
 ('John', 'Gordon', 'Andrew', 'Adams'),
 ('Frank', 'Ralston', 'Andrew', 'Adams'),
 ('Victor', 'Stevens', 'Andrew', 'Adams'),
 ('Richard', 'Cunningham', 'Andrew', 'Adams'),
 ('Patrick', 'Gray', 'Andrew', 'Adams'),
 ('Julia', 'Barnett', 'Andrew', 'Adams'),
 ('Robert', 'Brown', 'Andrew', 'Adams'),
 ('Edward', 'Francis', 'Andrew', 'Adams'),
 ('Martha', 'Silk', 'Andrew', 'Adams'),
 ('Aaron', 'Mitchell', 'Andrew', 'Adams'),
 ('Ellie', 'Sullivan', 'Andrew', 'Adams'),
 ('João', 'Fernandes', 'Andrew', 'Adams'),
 ('Madalena', 'Sampaio', 'Andrew', 'Adams'),
 ('Hannah', 'Schneider', 'Andrew', 'Adams'),
 ('Fynn', 'Zimmermann', 'Andrew', 'Adams'),
 ('Niklas', 'Schröder', 'Andrew', 'Adams'),
 ('Camille', 'Bernard', 'Andrew', 'Adams'),
 ('Dominique', 'Lefebvre', 'Andrew', 'Adams'),
 ('Marc', 'Dubois', 'Andrew', 'Adams'),
 ('Wyatt', 'Girard', 'Andrew', 'Adams'),
 ('Isabelle', 'Mercier', 'Andrew', 'Adams'),
 ('Terhi', 'Hämäläinen', 'Andrew', 'Adams'),
 ('Ladislav', 'Kovács', 'Andrew', 'Adams'),
 ('Hugh', "O'Reilly", 'Andrew', 'Adams'),
 ('Lucas', 'Mancini', 'Andrew', 'Adams'),
 ('Johannes', 'Van der Berg', 'Andrew', 'Adams'),
 ('Stanisław', 'Wójcik', 'Andrew', 'Adams'),
 ('Enrique', 'Muñoz', 'Andrew', 'Adams'),
 ('Joakim', 'Johansson', 'Andrew', 'Adams'),
 ('Emma', 'Jones', 'Andrew', 'Adams'),
 ('Phil', 'Hughes', 'Andrew', 'Adams'),
 ('Steve', 'Murray', 'Andrew', 'Adams'),
 ('Mark', 'Taylor', 'Andrew', 'Adams'),
 ('Diego', 'Gutiérrez', 'Andrew', 'Adams'),
 ('Luis', 'Rojas', 'Andrew', 'Adams'),
 ('Manoj', 'Pareek', 'Andrew', 'Adams'),
 ('Puja', 'Srivastava', 'Andrew', 'Adams'),
 ('Luís', 'Gonçalves', 'Nancy', 'Edwards'),
 ('Leonie', 'Köhler', 'Nancy', 'Edwards'),
 ('François', 'Tremblay', 'Nancy', 'Edwards'),
 ('Bjørn', 'Hansen', 'Nancy', 'Edwards'),
 ('František', 'Wichterlová', 'Nancy', 'Edwards'),
 ('Helena', 'Holý', 'Nancy', 'Edwards'),
 ('Astrid', 'Gruber', 'Nancy', 'Edwards'),
 ('Daan', 'Peeters', 'Nancy', 'Edwards'),
 ('Kara', 'Nielsen', 'Nancy', 'Edwards'),
 ('Eduardo', 'Martins', 'Nancy', 'Edwards'),
 ('Alexandre', 'Rocha', 'Nancy', 'Edwards'),
 ('Roberto', 'Almeida', 'Nancy', 'Edwards'),
 ('Fernanda', 'Ramos', 'Nancy', 'Edwards'),
 ('Mark', 'Philips', 'Nancy', 'Edwards'),
 ('Jennifer', 'Peterson', 'Nancy', 'Edwards'),
 ('Frank', 'Harris', 'Nancy', 'Edwards'),
 ('Jack', 'Smith', 'Nancy', 'Edwards'),
 ('Michelle', 'Brooks', 'Nancy', 'Edwards'),
 ('Tim', 'Goyer', 'Nancy', 'Edwards'),
 ('Dan', 'Miller', 'Nancy', 'Edwards'),
 ('Kathy', 'Chase', 'Nancy', 'Edwards'),
 ('Heather', 'Leacock', 'Nancy', 'Edwards'),
 ('John', 'Gordon', 'Nancy', 'Edwards'),
 ('Frank', 'Ralston', 'Nancy', 'Edwards'),
 ('Victor', 'Stevens', 'Nancy', 'Edwards'),
 ('Richard', 'Cunningham', 'Nancy', 'Edwards'),
 ('Patrick', 'Gray', 'Nancy', 'Edwards'),
 ('Julia', 'Barnett', 'Nancy', 'Edwards'),
 ('Robert', 'Brown', 'Nancy', 'Edwards'),
 ('Edward', 'Francis', 'Nancy', 'Edwards'),
 ('Martha', 'Silk', 'Nancy', 'Edwards'),
 ('Aaron', 'Mitchell', 'Nancy', 'Edwards'),
 ('Ellie', 'Sullivan', 'Nancy', 'Edwards'),
 ('João', 'Fernandes', 'Nancy', 'Edwards'),
 ('Madalena', 'Sampaio', 'Nancy', 'Edwards'),
 ('Hannah', 'Schneider', 'Nancy', 'Edwards'),
 ('Fynn', 'Zimmermann', 'Nancy', 'Edwards'),
 ('Niklas', 'Schröder', 'Nancy', 'Edwards'),
 ('Camille', 'Bernard', 'Nancy', 'Edwards'),
 ('Dominique', 'Lefebvre', 'Nancy', 'Edwards'),
 ('Marc', 'Dubois', 'Nancy', 'Edwards'),
 ('Wyatt', 'Girard', 'Nancy', 'Edwards'),
 ('Isabelle', 'Mercier', 'Nancy', 'Edwards'),
 ('Terhi', 'Hämäläinen', 'Nancy', 'Edwards'),
 ('Ladislav', 'Kovács', 'Nancy', 'Edwards'),
 ('Hugh', "O'Reilly", 'Nancy', 'Edwards'),
 ('Lucas', 'Mancini', 'Nancy', 'Edwards'),
 ('Johannes', 'Van der Berg', 'Nancy', 'Edwards'),
 ('Stanisław', 'Wójcik', 'Nancy', 'Edwards'),
 ('Enrique', 'Muñoz', 'Nancy', 'Edwards'),
 ('Joakim', 'Johansson', 'Nancy', 'Edwards'),
 ('Emma', 'Jones', 'Nancy', 'Edwards'),
 ('Phil', 'Hughes', 'Nancy', 'Edwards'),
 ('Steve', 'Murray', 'Nancy', 'Edwards'),
 ('Mark', 'Taylor', 'Nancy', 'Edwards'),
 ('Diego', 'Gutiérrez', 'Nancy', 'Edwards'),
 ('Luis', 'Rojas', 'Nancy', 'Edwards'),
 ('Manoj', 'Pareek', 'Nancy', 'Edwards'),
 ('Puja', 'Srivastava', 'Nancy', 'Edwards'),
 ('Luís', 'Gonçalves', 'Jane', 'Peacock'),
 ('Leonie', 'Köhler', 'Jane', 'Peacock'),
 ('François', 'Tremblay', 'Jane', 'Peacock'),
 ('Bjørn', 'Hansen', 'Jane', 'Peacock'),
 ('František', 'Wichterlová', 'Jane', 'Peacock'),
 ('Helena', 'Holý', 'Jane', 'Peacock'),
 ('Astrid', 'Gruber', 'Jane', 'Peacock'),
 ('Daan', 'Peeters', 'Jane', 'Peacock'),
 ('Kara', 'Nielsen', 'Jane', 'Peacock'),
 ('Eduardo', 'Martins', 'Jane', 'Peacock'),
 ('Alexandre', 'Rocha', 'Jane', 'Peacock'),
 ('Roberto', 'Almeida', 'Jane', 'Peacock'),
 ('Fernanda', 'Ramos', 'Jane', 'Peacock'),
 ('Mark', 'Philips', 'Jane', 'Peacock'),
 ('Jennifer', 'Peterson', 'Jane', 'Peacock'),
 ('Frank', 'Harris', 'Jane', 'Peacock'),
 ('Jack', 'Smith', 'Jane', 'Peacock'),
 ('Michelle', 'Brooks', 'Jane', 'Peacock'),
 ('Tim', 'Goyer', 'Jane', 'Peacock'),
 ('Dan', 'Miller', 'Jane', 'Peacock'),
 ('Kathy', 'Chase', 'Jane', 'Peacock'),
 ('Heather', 'Leacock', 'Jane', 'Peacock'),
 ('John', 'Gordon', 'Jane', 'Peacock'),
 ('Frank', 'Ralston', 'Jane', 'Peacock'),
 ('Victor', 'Stevens', 'Jane', 'Peacock'),
 ('Richard', 'Cunningham', 'Jane', 'Peacock'),
 ('Patrick', 'Gray', 'Jane', 'Peacock'),
 ('Julia', 'Barnett', 'Jane', 'Peacock'),
 ('Robert', 'Brown', 'Jane', 'Peacock'),
 ('Edward', 'Francis', 'Jane', 'Peacock'),
 ('Martha', 'Silk', 'Jane', 'Peacock'),
 ('Aaron', 'Mitchell', 'Jane', 'Peacock'),
 ('Ellie', 'Sullivan', 'Jane', 'Peacock'),
 ('João', 'Fernandes', 'Jane', 'Peacock'),
 ('Madalena', 'Sampaio', 'Jane', 'Peacock'),
 ('Hannah', 'Schneider', 'Jane', 'Peacock'),
 ('Fynn', 'Zimmermann', 'Jane', 'Peacock'),
 ('Niklas', 'Schröder', 'Jane', 'Peacock'),
 ('Camille', 'Bernard', 'Jane', 'Peacock'),
 ('Dominique', 'Lefebvre', 'Jane', 'Peacock'),
 ('Marc', 'Dubois', 'Jane', 'Peacock'),
 ('Wyatt', 'Girard', 'Jane', 'Peacock'),
 ('Isabelle', 'Mercier', 'Jane', 'Peacock'),
 ('Terhi', 'Hämäläinen', 'Jane', 'Peacock'),
 ('Ladislav', 'Kovács', 'Jane', 'Peacock'),
 ('Hugh', "O'Reilly", 'Jane', 'Peacock'),
 ('Lucas', 'Mancini', 'Jane', 'Peacock'),
 ('Johannes', 'Van der Berg', 'Jane', 'Peacock'),
 ('Stanisław', 'Wójcik', 'Jane', 'Peacock'),
 ('Enrique', 'Muñoz', 'Jane', 'Peacock'),
 ('Joakim', 'Johansson', 'Jane', 'Peacock'),
 ('Emma', 'Jones', 'Jane', 'Peacock'),
 ('Phil', 'Hughes', 'Jane', 'Peacock'),
 ('Steve', 'Murray', 'Jane', 'Peacock'),
 ('Mark', 'Taylor', 'Jane', 'Peacock'),
 ('Diego', 'Gutiérrez', 'Jane', 'Peacock'),
 ('Luis', 'Rojas', 'Jane', 'Peacock'),
 ('Manoj', 'Pareek', 'Jane', 'Peacock'),
 ('Puja', 'Srivastava', 'Jane', 'Peacock'),
 ('Luís', 'Gonçalves', 'Margaret', 'Park'),
 ('Leonie', 'Köhler', 'Margaret', 'Park'),
 ('François', 'Tremblay', 'Margaret', 'Park'),
 ('Bjørn', 'Hansen', 'Margaret', 'Park'),
 ('František', 'Wichterlová', 'Margaret', 'Park'),
 ('Helena', 'Holý', 'Margaret', 'Park'),
 ('Astrid', 'Gruber', 'Margaret', 'Park'),
 ('Daan', 'Peeters', 'Margaret', 'Park'),
 ('Kara', 'Nielsen', 'Margaret', 'Park'),
 ('Eduardo', 'Martins', 'Margaret', 'Park'),
 ('Alexandre', 'Rocha', 'Margaret', 'Park'),
 ('Roberto', 'Almeida', 'Margaret', 'Park'),
 ('Fernanda', 'Ramos', 'Margaret', 'Park'),
 ('Mark', 'Philips', 'Margaret', 'Park'),
 ('Jennifer', 'Peterson', 'Margaret', 'Park'),
 ('Frank', 'Harris', 'Margaret', 'Park'),
 ('Jack', 'Smith', 'Margaret', 'Park'),
 ('Michelle', 'Brooks', 'Margaret', 'Park'),
 ('Tim', 'Goyer', 'Margaret', 'Park'),
 ('Dan', 'Miller', 'Margaret', 'Park'),
 ('Kathy', 'Chase', 'Margaret', 'Park'),
 ('Heather', 'Leacock', 'Margaret', 'Park'),
 ('John', 'Gordon', 'Margaret', 'Park'),
 ('Frank', 'Ralston', 'Margaret', 'Park'),
 ('Victor', 'Stevens', 'Margaret', 'Park'),
 ('Richard', 'Cunningham', 'Margaret', 'Park'),
 ('Patrick', 'Gray', 'Margaret', 'Park'),
 ('Julia', 'Barnett', 'Margaret', 'Park'),
 ('Robert', 'Brown', 'Margaret', 'Park'),
 ('Edward', 'Francis', 'Margaret', 'Park'),
 ('Martha', 'Silk', 'Margaret', 'Park'),
 ('Aaron', 'Mitchell', 'Margaret', 'Park'),
 ('Ellie', 'Sullivan', 'Margaret', 'Park'),
 ('João', 'Fernandes', 'Margaret', 'Park'),
 ('Madalena', 'Sampaio', 'Margaret', 'Park'),
 ('Hannah', 'Schneider', 'Margaret', 'Park'),
 ('Fynn', 'Zimmermann', 'Margaret', 'Park'),
 ('Niklas', 'Schröder', 'Margaret', 'Park'),
 ('Camille', 'Bernard', 'Margaret', 'Park'),
 ('Dominique', 'Lefebvre', 'Margaret', 'Park'),
 ('Marc', 'Dubois', 'Margaret', 'Park'),
 ('Wyatt', 'Girard', 'Margaret', 'Park'),
 ('Isabelle', 'Mercier', 'Margaret', 'Park'),
 ('Terhi', 'Hämäläinen', 'Margaret', 'Park'),
 ('Ladislav', 'Kovács', 'Margaret', 'Park'),
 ('Hugh', "O'Reilly", 'Margaret', 'Park'),
 ('Lucas', 'Mancini', 'Margaret', 'Park'),
 ('Johannes', 'Van der Berg', 'Margaret', 'Park'),
 ('Stanisław', 'Wójcik', 'Margaret', 'Park'),
 ('Enrique', 'Muñoz', 'Margaret', 'Park'),
 ('Joakim', 'Johansson', 'Margaret', 'Park'),
 ('Emma', 'Jones', 'Margaret', 'Park'),
 ('Phil', 'Hughes', 'Margaret', 'Park'),
 ('Steve', 'Murray', 'Margaret', 'Park'),
 ('Mark', 'Taylor', 'Margaret', 'Park'),
 ('Diego', 'Gutiérrez', 'Margaret', 'Park'),
 ('Luis', 'Rojas', 'Margaret', 'Park'),
 ('Manoj', 'Pareek', 'Margaret', 'Park'),
 ('Puja', 'Srivastava', 'Margaret', 'Park'),
 ('Luís', 'Gonçalves', 'Steve', 'Johnson'),
 ('Leonie', 'Köhler', 'Steve', 'Johnson'),
 ('François', 'Tremblay', 'Steve', 'Johnson'),
 ('Bjørn', 'Hansen', 'Steve', 'Johnson'),
 ('František', 'Wichterlová', 'Steve', 'Johnson'),
 ('Helena', 'Holý', 'Steve', 'Johnson'),
 ('Astrid', 'Gruber', 'Steve', 'Johnson'),
 ('Daan', 'Peeters', 'Steve', 'Johnson'),
 ('Kara', 'Nielsen', 'Steve', 'Johnson'),
 ('Eduardo', 'Martins', 'Steve', 'Johnson'),
 ('Alexandre', 'Rocha', 'Steve', 'Johnson'),
 ('Roberto', 'Almeida', 'Steve', 'Johnson'),
 ('Fernanda', 'Ramos', 'Steve', 'Johnson'),
 ('Mark', 'Philips', 'Steve', 'Johnson'),
 ('Jennifer', 'Peterson', 'Steve', 'Johnson'),
 ('Frank', 'Harris', 'Steve', 'Johnson'),
 ('Jack', 'Smith', 'Steve', 'Johnson'),
 ('Michelle', 'Brooks', 'Steve', 'Johnson'),
 ('Tim', 'Goyer', 'Steve', 'Johnson'),
 ('Dan', 'Miller', 'Steve', 'Johnson'),
 ('Kathy', 'Chase', 'Steve', 'Johnson'),
 ('Heather', 'Leacock', 'Steve', 'Johnson'),
 ('John', 'Gordon', 'Steve', 'Johnson'),
 ('Frank', 'Ralston', 'Steve', 'Johnson'),
 ('Victor', 'Stevens', 'Steve', 'Johnson'),
 ('Richard', 'Cunningham', 'Steve', 'Johnson'),
 ('Patrick', 'Gray', 'Steve', 'Johnson'),
 ('Julia', 'Barnett', 'Steve', 'Johnson'),
 ('Robert', 'Brown', 'Steve', 'Johnson'),
 ('Edward', 'Francis', 'Steve', 'Johnson'),
 ('Martha', 'Silk', 'Steve', 'Johnson'),
 ('Aaron', 'Mitchell', 'Steve', 'Johnson'),
 ('Ellie', 'Sullivan', 'Steve', 'Johnson'),
 ('João', 'Fernandes', 'Steve', 'Johnson'),
 ('Madalena', 'Sampaio', 'Steve', 'Johnson'),
 ('Hannah', 'Schneider', 'Steve', 'Johnson'),
 ('Fynn', 'Zimmermann', 'Steve', 'Johnson'),
 ('Niklas', 'Schröder', 'Steve', 'Johnson'),
 ('Camille', 'Bernard', 'Steve', 'Johnson'),
 ('Dominique', 'Lefebvre', 'Steve', 'Johnson'),
 ('Marc', 'Dubois', 'Steve', 'Johnson'),
 ('Wyatt', 'Girard', 'Steve', 'Johnson'),
 ('Isabelle', 'Mercier', 'Steve', 'Johnson'),
 ('Terhi', 'Hämäläinen', 'Steve', 'Johnson'),
 ('Ladislav', 'Kovács', 'Steve', 'Johnson'),
 ('Hugh', "O'Reilly", 'Steve', 'Johnson'),
 ('Lucas', 'Mancini', 'Steve', 'Johnson'),
 ('Johannes', 'Van der Berg', 'Steve', 'Johnson'),
 ('Stanisław', 'Wójcik', 'Steve', 'Johnson'),
 ('Enrique', 'Muñoz', 'Steve', 'Johnson'),
 ('Joakim', 'Johansson', 'Steve', 'Johnson'),
 ('Emma', 'Jones', 'Steve', 'Johnson'),
 ('Phil', 'Hughes', 'Steve', 'Johnson'),
 ('Steve', 'Murray', 'Steve', 'Johnson'),
 ('Mark', 'Taylor', 'Steve', 'Johnson'),
 ('Diego', 'Gutiérrez', 'Steve', 'Johnson'),
 ('Luis', 'Rojas', 'Steve', 'Johnson'),
 ('Manoj', 'Pareek', 'Steve', 'Johnson'),
 ('Puja', 'Srivastava', 'Steve', 'Johnson'),
 ('Luís', 'Gonçalves', 'Michael', 'Mitchell'),
 ('Leonie', 'Köhler', 'Michael', 'Mitchell'),
 ('François', 'Tremblay', 'Michael', 'Mitchell'),
 ('Bjørn', 'Hansen', 'Michael', 'Mitchell'),
 ('František', 'Wichterlová', 'Michael', 'Mitchell'),
 ('Helena', 'Holý', 'Michael', 'Mitchell'),
 ('Astrid', 'Gruber', 'Michael', 'Mitchell'),
 ('Daan', 'Peeters', 'Michael', 'Mitchell'),
 ('Kara', 'Nielsen', 'Michael', 'Mitchell'),
 ('Eduardo', 'Martins', 'Michael', 'Mitchell'),
 ('Alexandre', 'Rocha', 'Michael', 'Mitchell'),
 ('Roberto', 'Almeida', 'Michael', 'Mitchell'),
 ('Fernanda', 'Ramos', 'Michael', 'Mitchell'),
 ('Mark', 'Philips', 'Michael', 'Mitchell'),
 ('Jennifer', 'Peterson', 'Michael', 'Mitchell'),
 ('Frank', 'Harris', 'Michael', 'Mitchell'),
 ('Jack', 'Smith', 'Michael', 'Mitchell'),
 ('Michelle', 'Brooks', 'Michael', 'Mitchell'),
 ('Tim', 'Goyer', 'Michael', 'Mitchell'),
 ('Dan', 'Miller', 'Michael', 'Mitchell'),
 ('Kathy', 'Chase', 'Michael', 'Mitchell'),
 ('Heather', 'Leacock', 'Michael', 'Mitchell'),
 ('John', 'Gordon', 'Michael', 'Mitchell'),
 ('Frank', 'Ralston', 'Michael', 'Mitchell'),
 ('Victor', 'Stevens', 'Michael', 'Mitchell'),
 ('Richard', 'Cunningham', 'Michael', 'Mitchell'),
 ('Patrick', 'Gray', 'Michael', 'Mitchell'),
 ('Julia', 'Barnett', 'Michael', 'Mitchell'),
 ('Robert', 'Brown', 'Michael', 'Mitchell'),
 ('Edward', 'Francis', 'Michael', 'Mitchell'),
 ('Martha', 'Silk', 'Michael', 'Mitchell'),
 ('Aaron', 'Mitchell', 'Michael', 'Mitchell'),
 ('Ellie', 'Sullivan', 'Michael', 'Mitchell'),
 ('João', 'Fernandes', 'Michael', 'Mitchell'),
 ('Madalena', 'Sampaio', 'Michael', 'Mitchell'),
 ('Hannah', 'Schneider', 'Michael', 'Mitchell'),
 ('Fynn', 'Zimmermann', 'Michael', 'Mitchell'),
 ('Niklas', 'Schröder', 'Michael', 'Mitchell'),
 ('Camille', 'Bernard', 'Michael', 'Mitchell'),
 ('Dominique', 'Lefebvre', 'Michael', 'Mitchell'),
 ('Marc', 'Dubois', 'Michael', 'Mitchell'),
 ('Wyatt', 'Girard', 'Michael', 'Mitchell'),
 ('Isabelle', 'Mercier', 'Michael', 'Mitchell'),
 ('Terhi', 'Hämäläinen', 'Michael', 'Mitchell'),
 ('Ladislav', 'Kovács', 'Michael', 'Mitchell'),
 ('Hugh', "O'Reilly", 'Michael', 'Mitchell'),
 ('Lucas', 'Mancini', 'Michael', 'Mitchell'),
 ('Johannes', 'Van der Berg', 'Michael', 'Mitchell'),
 ('Stanisław', 'Wójcik', 'Michael', 'Mitchell'),
 ('Enrique', 'Muñoz', 'Michael', 'Mitchell'),
 ('Joakim', 'Johansson', 'Michael', 'Mitchell'),
 ('Emma', 'Jones', 'Michael', 'Mitchell'),
 ('Phil', 'Hughes', 'Michael', 'Mitchell'),
 ('Steve', 'Murray', 'Michael', 'Mitchell'),
 ('Mark', 'Taylor', 'Michael', 'Mitchell'),
 ('Diego', 'Gutiérrez', 'Michael', 'Mitchell'),
 ('Luis', 'Rojas', 'Michael', 'Mitchell'),
 ('Manoj', 'Pareek', 'Michael', 'Mitchell'),
 ('Puja', 'Srivastava', 'Michael', 'Mitchell'),
 ('Luís', 'Gonçalves', 'Robert', 'King'),
 ('Leonie', 'Köhler', 'Robert', 'King'),
 ('François', 'Tremblay', 'Robert', 'King'),
 ('Bjørn', 'Hansen', 'Robert', 'King'),
 ('František', 'Wichterlová', 'Robert', 'King'),
 ('Helena', 'Holý', 'Robert', 'King'),
 ('Astrid', 'Gruber', 'Robert', 'King'),
 ('Daan', 'Peeters', 'Robert', 'King'),
 ('Kara', 'Nielsen', 'Robert', 'King'),
 ('Eduardo', 'Martins', 'Robert', 'King'),
 ('Alexandre', 'Rocha', 'Robert', 'King'),
 ('Roberto', 'Almeida', 'Robert', 'King'),
 ('Fernanda', 'Ramos', 'Robert', 'King'),
 ('Mark', 'Philips', 'Robert', 'King'),
 ('Jennifer', 'Peterson', 'Robert', 'King'),
 ('Frank', 'Harris', 'Robert', 'King'),
 ('Jack', 'Smith', 'Robert', 'King'),
 ('Michelle', 'Brooks', 'Robert', 'King'),
 ('Tim', 'Goyer', 'Robert', 'King'),
 ('Dan', 'Miller', 'Robert', 'King'),
 ('Kathy', 'Chase', 'Robert', 'King'),
 ('Heather', 'Leacock', 'Robert', 'King'),
 ('John', 'Gordon', 'Robert', 'King'),
 ('Frank', 'Ralston', 'Robert', 'King'),
 ('Victor', 'Stevens', 'Robert', 'King'),
 ('Richard', 'Cunningham', 'Robert', 'King'),
 ('Patrick', 'Gray', 'Robert', 'King'),
 ('Julia', 'Barnett', 'Robert', 'King'),
 ('Robert', 'Brown', 'Robert', 'King'),
 ('Edward', 'Francis', 'Robert', 'King'),
 ('Martha', 'Silk', 'Robert', 'King'),
 ('Aaron', 'Mitchell', 'Robert', 'King'),
 ('Ellie', 'Sullivan', 'Robert', 'King'),
 ('João', 'Fernandes', 'Robert', 'King'),
 ('Madalena', 'Sampaio', 'Robert', 'King'),
 ('Hannah', 'Schneider', 'Robert', 'King'),
 ('Fynn', 'Zimmermann', 'Robert', 'King'),
 ('Niklas', 'Schröder', 'Robert', 'King'),
 ('Camille', 'Bernard', 'Robert', 'King'),
 ('Dominique', 'Lefebvre', 'Robert', 'King'),
 ('Marc', 'Dubois', 'Robert', 'King'),
 ('Wyatt', 'Girard', 'Robert', 'King'),
 ('Isabelle', 'Mercier', 'Robert', 'King'),
 ('Terhi', 'Hämäläinen', 'Robert', 'King'),
 ('Ladislav', 'Kovács', 'Robert', 'King'),
 ('Hugh', "O'Reilly", 'Robert', 'King'),
 ('Lucas', 'Mancini', 'Robert', 'King'),
 ('Johannes', 'Van der Berg', 'Robert', 'King'),
 ('Stanisław', 'Wójcik', 'Robert', 'King'),
 ('Enrique', 'Muñoz', 'Robert', 'King'),
 ('Joakim', 'Johansson', 'Robert', 'King'),
 ('Emma', 'Jones', 'Robert', 'King'),
 ('Phil', 'Hughes', 'Robert', 'King'),
 ('Steve', 'Murray', 'Robert', 'King'),
 ('Mark', 'Taylor', 'Robert', 'King'),
 ('Diego', 'Gutiérrez', 'Robert', 'King'),
 ('Luis', 'Rojas', 'Robert', 'King'),
 ('Manoj', 'Pareek', 'Robert', 'King'),
 ('Puja', 'Srivastava', 'Robert', 'King'),
 ('Luís', 'Gonçalves', 'Laura', 'Callahan'),
 ('Leonie', 'Köhler', 'Laura', 'Callahan'),
 ('François', 'Tremblay', 'Laura', 'Callahan'),
 ('Bjørn', 'Hansen', 'Laura', 'Callahan'),
 ('František', 'Wichterlová', 'Laura', 'Callahan'),
 ('Helena', 'Holý', 'Laura', 'Callahan'),
 ('Astrid', 'Gruber', 'Laura', 'Callahan'),
 ('Daan', 'Peeters', 'Laura', 'Callahan'),
 ('Kara', 'Nielsen', 'Laura', 'Callahan'),
 ('Eduardo', 'Martins', 'Laura', 'Callahan'),
 ('Alexandre', 'Rocha', 'Laura', 'Callahan'),
 ('Roberto', 'Almeida', 'Laura', 'Callahan'),
 ('Fernanda', 'Ramos', 'Laura', 'Callahan'),
 ('Mark', 'Philips', 'Laura', 'Callahan'),
 ('Jennifer', 'Peterson', 'Laura', 'Callahan'),
 ('Frank', 'Harris', 'Laura', 'Callahan'),
 ('Jack', 'Smith', 'Laura', 'Callahan'),
 ('Michelle', 'Brooks', 'Laura', 'Callahan'),
 ('Tim', 'Goyer', 'Laura', 'Callahan'),
 ('Dan', 'Miller', 'Laura', 'Callahan'),
 ('Kathy', 'Chase', 'Laura', 'Callahan'),
 ('Heather', 'Leacock', 'Laura', 'Callahan'),
 ('John', 'Gordon', 'Laura', 'Callahan'),
 ('Frank', 'Ralston', 'Laura', 'Callahan'),
 ('Victor', 'Stevens', 'Laura', 'Callahan'),
 ('Richard', 'Cunningham', 'Laura', 'Callahan'),
 ('Patrick', 'Gray', 'Laura', 'Callahan'),
 ('Julia', 'Barnett', 'Laura', 'Callahan'),
 ('Robert', 'Brown', 'Laura', 'Callahan'),
 ('Edward', 'Francis', 'Laura', 'Callahan'),
 ('Martha', 'Silk', 'Laura', 'Callahan'),
 ('Aaron', 'Mitchell', 'Laura', 'Callahan'),
 ('Ellie', 'Sullivan', 'Laura', 'Callahan'),
 ('João', 'Fernandes', 'Laura', 'Callahan'),
 ('Madalena', 'Sampaio', 'Laura', 'Callahan'),
 ('Hannah', 'Schneider', 'Laura', 'Callahan'),
 ('Fynn', 'Zimmermann', 'Laura', 'Callahan'),
 ('Niklas', 'Schröder', 'Laura', 'Callahan'),
 ('Camille', 'Bernard', 'Laura', 'Callahan'),
 ('Dominique', 'Lefebvre', 'Laura', 'Callahan'),
 ('Marc', 'Dubois', 'Laura', 'Callahan'),
 ('Wyatt', 'Girard', 'Laura', 'Callahan'),
 ('Isabelle', 'Mercier', 'Laura', 'Callahan'),
 ('Terhi', 'Hämäläinen', 'Laura', 'Callahan'),

In [ ]:
--Write a query that returns the first names of all Chinook digital media store customers.

Limit the results to the first 10 customers.

In [9]:
%%sql
SELECT FirstName
FROM customers
LIMIT 10;

 * sqlite:///chinook.db
Done.

[('Luís',),
 ('Leonie',),
 ('François',),
 ('Bjørn',),
 ('František',),
 ('Helena',),
 ('Astrid',),
 ('Daan',),
 ('Kara',),
 ('Eduardo',)]

In [ ]:
--Write a query to find out when each Chinook employee was hired.

Return data in the FirstName, LastName, and HireDate columns from the employees table.

In [10]:
%%sql
SELECT 
    FirstName,
    LastName,
    HireDate
FROM 
    employees;

 * sqlite:///chinook.db
Done.

[('Andrew', 'Adams', '2002-08-14 00:00:00'),
 ('Nancy', 'Edwards', '2002-05-01 00:00:00'),
 ('Jane', 'Peacock', '2002-04-01 00:00:00'),
 ('Margaret', 'Park', '2003-05-03 00:00:00'),
 ('Steve', 'Johnson', '2003-10-17 00:00:00'),
 ('Michael', 'Mitchell', '2003-10-17 00:00:00'),
 ('Robert', 'King', '2004-01-02 00:00:00'),
 ('Laura', 'Callahan', '2004-03-04 00:00:00')]

In [ ]:
--Write a query that returns all Chinook employee information.

In [11]:
%%sql
SELECT *
FROM employees;

 * sqlite:///chinook.db
Done.

[(1, 'Adams', 'Andrew', 'General Manager', None, '1962-02-18 00:00:00', '2002-08-14 00:00:00', '11120 Jasper Ave NW', 'Edmonton', 'AB', 'Canada', 'T5K 2N1', '+1 (780) 428-9482', '+1 (780) 428-3457', 'andrew@chinookcorp.com'),
 (2, 'Edwards', 'Nancy', 'Sales Manager', 1, '1958-12-08 00:00:00', '2002-05-01 00:00:00', '825 8 Ave SW', 'Calgary', 'AB', 'Canada', 'T2P 2T3', '+1 (403) 262-3443', '+1 (403) 262-3322', 'nancy@chinookcorp.com'),
 (3, 'Peacock', 'Jane', 'Sales Support Agent', 2, '1973-08-29 00:00:00', '2002-04-01 00:00:00', '1111 6 Ave SW', 'Calgary', 'AB', 'Canada', 'T2P 5M5', '+1 (403) 262-3443', '+1 (403) 262-6712', 'jane@chinookcorp.com'),
 (4, 'Park', 'Margaret', 'Sales Support Agent', 2, '1947-09-19 00:00:00', '2003-05-03 00:00:00', '683 10 Street SW', 'Calgary', 'AB', 'Canada', 'T2P 5G3', '+1 (403) 263-4423', '+1 (403) 263-4289', 'margaret@chinookcorp.com'),
 (5, 'Johnson', 'Steve', 'Sales Support Agent', 2, '1965-03-03 00:00:00', '2003-10-17 00:00:00', '7727B 41 Ave', 'Calgary', 'AB', 'Canada', 'T3B 1Y7', '1 (780) 836-9987', '1 (780) 836-9543', 'steve@chinookcorp.com'),
 (6, 'Mitchell', 'Michael', 'IT Manager', 1, '1973-07-01 00:00:00', '2003-10-17 00:00:00', '5827 Bowness Road NW', 'Calgary', 'AB', 'Canada', 'T3B 0C5', '+1 (403) 246-9887', '+1 (403) 246-9899', 'michael@chinookcorp.com'),
 (7, 'King', 'Robert', 'IT Staff', 6, '1970-05-29 00:00:00', '2004-01-02 00:00:00', '590 Columbia Boulevard West', 'Lethbridge', 'AB', 'Canada', 'T1K 5N8', '+1 (403) 456-9986', '+1 (403) 456-8485', 'robert@chinookcorp.com'),
 (8, 'Callahan', 'Laura', 'IT Staff', 6, '1968-01-09 00:00:00', '2004-03-04 00:00:00', '923 7 ST NW', 'Lethbridge', 'AB', 'Canada', 'T1H 1Y8', '+1 (403) 467-3351', '+1 (403) 467-8772', 'laura@chinookcorp.com')]

In [ ]:
--Let's write a SQL query that will return all customers who live in Germany.

Return data in the FirstName and LastName columns of the customers table where the country is equal to Germany.

In [12]:
%%sql
SELECT 
    FirstName,
    LastName
FROM 
    customers
WHERE 
    Country = 'Germany';

 * sqlite:///chinook.db
Done.

[('Leonie', 'Köhler'),
 ('Hannah', 'Schneider'),
 ('Fynn', 'Zimmermann'),
 ('Niklas', 'Schröder')]

In [ ]:
--Write a SQL query that will return all customers who don't live in Germany.

Return data in the FirstName, LastName, and Country columns of the customers table where the country is not equal to Germany.

Limit the results to the first 10 customers.

In [13]:
%%sql
SELECT 
    FirstName,
    LastName,
    Country
FROM 
    customers
WHERE 
    Country <> 'Germany'
LIMIT 10;

 * sqlite:///chinook.db
Done.

[('Luís', 'Gonçalves', 'Brazil'),
 ('François', 'Tremblay', 'Canada'),
 ('Bjørn', 'Hansen', 'Norway'),
 ('František', 'Wichterlová', 'Czech Republic'),
 ('Helena', 'Holý', 'Czech Republic'),
 ('Astrid', 'Gruber', 'Austria'),
 ('Daan', 'Peeters', 'Belgium'),
 ('Kara', 'Nielsen', 'Denmark'),
 ('Eduardo', 'Martins', 'Brazil'),
 ('Alexandre', 'Rocha', 'Brazil')]

In [ ]:
--Write a query that returns all invoices that show USA purchases with a total greater than 10 dollars.

Return data from all columns in the invoices table where the BillingCountry is equal to USA and the Total is greater than 10.

In [14]:
%%sql
SELECT *
FROM invoices
WHERE BillingCountry = 'USA'
  AND Total > 10;

 * sqlite:///chinook.db
Done.

[(5, 23, '2009-01-11 00:00:00', '69 Salem Street', 'Boston', 'MA', 'USA', '2113', 13.86),
 (26, 19, '2009-04-14 00:00:00', '1 Infinite Loop', 'Cupertino', 'CA', 'USA', '95014', 13.86),
 (82, 28, '2009-12-18 00:00:00', '302 S 700 E', 'Salt Lake City', 'UT', 'USA', '84102', 13.86),
 (103, 24, '2010-03-21 00:00:00', '162 E Superior Street', 'Chicago', 'IL', 'USA', '60611', 15.86),
 (124, 20, '2010-06-22 00:00:00', '541 Del Medio Avenue', 'Mountain View', 'CA', 'USA', '94040-111', 13.86),
 (145, 16, '2010-09-23 00:00:00', '1600 Amphitheatre Parkway', 'Mountain View', 'CA', 'USA', '94043-1351', 13.86),
 (201, 25, '2011-05-29 00:00:00', '319 N. Frances Street', 'Madison', 'WI', 'USA', '53703', 18.86),
 (222, 21, '2011-08-30 00:00:00', '801 W 4th Street', 'Reno', 'NV', 'USA', '89503', 13.86),
 (243, 17, '2011-12-01 00:00:00', '1 Microsoft Way', 'Redmond', 'WA', 'USA', '98052-8300', 13.86),
 (298, 17, '2012-07-31 00:00:00', '1 Microsoft Way', 'Redmond', 'WA', 'USA', '98052-8300', 10.91),
 (299, 26, '2012-08-05 00:00:00', '2211 W Berry Street', 'Fort Worth', 'TX', 'USA', '76110', 23.86),
 (311, 28, '2012-09-28 00:00:00', '302 S 700 E', 'Salt Lake City', 'UT', 'USA', '84102', 11.94),
 (320, 22, '2012-11-06 00:00:00', '120 S Orange Ave', 'Orlando', 'FL', 'USA', '32801', 13.86),
 (341, 18, '2013-02-07 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 13.86),
 (397, 27, '2013-10-13 00:00:00', '1033 N Park Ave', 'Tucson', 'AZ', 'USA', '85719', 13.86)]

In [ ]:
--Write a query that returns all stored information for Sales Support Agents who were hired on or after the 3rd of May 2003 and stay in Calgary.

Return data in all columns from the employees table where the HireDate is greater than or equal to 2003-05-03 and the Title is equal to Sales Support Agent and the City is equal to Calgary.

In [15]:
%%sql
SELECT *
FROM employees
WHERE 
    HireDate >= '2003-05-03'
    AND Title = 'Sales Support Agent'
    AND City = 'Calgary';

 * sqlite:///chinook.db
Done.

[(4, 'Park', 'Margaret', 'Sales Support Agent', 2, '1947-09-19 00:00:00', '2003-05-03 00:00:00', '683 10 Street SW', 'Calgary', 'AB', 'Canada', 'T2P 5G3', '+1 (403) 263-4423', '+1 (403) 263-4289', 'margaret@chinookcorp.com'),
 (5, 'Johnson', 'Steve', 'Sales Support Agent', 2, '1965-03-03 00:00:00', '2003-10-17 00:00:00', '7727B 41 Ave', 'Calgary', 'AB', 'Canada', 'T3B 1Y7', '1 (780) 836-9987', '1 (780) 836-9543', 'steve@chinookcorp.com')]